*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor_carga{
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-box-sizing: all 1s ease;
  -moz-box-sizing: all 1s ease;
  box-sizing: all 1s ease;
  z-index: 10000;
  background: #EE7500
}

#carga{
  border-top-color: #eeeeee;
  border-top-style: groove;
  height: 150px;
  width: 150px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

#imagen{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#texto{
  position: absolute;
}


@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}