.marginTop{
  margin-top: 100px
}

.colorConviasa {
  background-color: #EE7500;
}

.colorConviasaG{
  background-color: #717171;
}

.colorAccent{
  background-color: #eeeeee;
}

.caja{
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}



#primary {
  padding: 1rem;
  background-color: #EE7500;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 2px
}

#secondary {
  padding: 1rem;
  background-color: #717171;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 2px
}


#accent {
  padding: 1rem;
  background-color: #eeeeee;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  color: black;
  text-align: center;
  border-radius: 2px
}

#cajasClases {
  padding: 1rem;
  background-color: #717171;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 3px
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}